html {
    min-width: 1100px;
    background: #333;
    font-family: Arial, Tahoma;
    font-size: 12px;
}

input {
    cursor: pointer;
}

.title {
    color: #fff;
}

.calendar {
    background: #fff;
    width: auto;
    display: inline-block;
    padding: 12px;
    text-align: left;
    min-width: 1045px;
    position: relative;
}

    .calendar .control {
        color: #333;
        font-size: 13px;
    }

    .calendar span.age {
        display: inline-block;
        width: 20px;
        white-space: nowrap;
    }

    .calendar span b {
        display: inline-block;
        border: 1px solid #cdcdcd;
        text-align: center;
        width: 14px;
        height: 14px;
        cursor: pointer;
        -webkit-print-color-adjust: exact;
    }

        .calendar span b.no {
            border: 1px solid #FFF;
            cursor: default;
            white-space: nowrap;
        }

    .calendar b.lost {
        background: #ababab;
    }

        .calendar b.lost.record {
            background: #ababFF;
        }

    .calendar span b.record {
        background: #abFFab;
    }

#textToRecord {
    width: 500px;
    height: 350px;
}

.main-inner .columns {
    padding: 0px;
}

.content-outer, .content-fauxcolumn-outer, .region-inner {
    max-width: 1200px !important;
    min-width: 1200px !important;
}

.main-inner .column-right-outer,
.main-inner .fauxcolumn-right-outer {
    display: none;
}

#slider {
    display: inline-block;
    width: 300px;
    margin-bottom: 0px;
    height: 1em;
    top: 3px;
    overflow: visible;
    cursor: col-resize;
    margin-right: 12px;
}

    #slider a {
        height: 1.4em;
        outline: none;
        cursor: col-resize;
    }

label, label input {
    cursor: pointer;
}

.links {
    position: absolute;
    width: 100%;
    top: -17px;
    left: 0px;
}

    .links a {
        color: #cdcdcd;
        position: absolute;
        text-decoration: none;
    }

        .links a:hover {
            text-decoration: underline;
        }

    .links .about {
        left: 0px;
    }

    .links .print {
        right: 0px;
    }

@media print {
    @page {
        size: auto;
        margin: 0px;
        padding:0px
    }

    .calendar {
        zoom: 0.95;
    }

    .main-inner .column-center-inner, .main-inner, .content-inner, .content-outer {
        padding: 0px;
    }

        .main-inner .column-center-inner .section {
            margin: 0px;
        }

    header, #comments, .links, .ya-share2, .control, h1, hr {
        display: none;
    }
}

.ya-share2 {
    float: right;
}
